{% extends "content/post.twig" %}

{% block content %}
                        <h3 class="title"><a href="$post.source" class="link">$post.name</a></h3>
                        ${ post.description | read_more }
{% endblock %}
